.header-container {
    display: flex;
    align-items: center;
    height: 90px;
    padding-inline: 1.5rem;
    background-color: #A1C9C5;

    img {
        width: 120px;
    }

    h1 {
        font-size: 1.2rem;
        font-weight: 600;
    }
}