.header-container {
    display: flex;
    align-items: center;
    height: 90px;
    padding-inline: 1.5rem;
    background: linear-gradient(#bde4dd, #97C4C1);

    img {
        width: 120px;
    }

    h1 {
        font-size: 1.2rem;
        font-weight: 600;
    }
}